#page-room {
  header {
    border-bottom: 1px solid #e2e2e2;
    background: #ffffff;
    box-shadow: 0 0 3px;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >button{
        margin: 10px;
      }
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .user-info {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: #29292e;
          font-weight: 500;
          font-size: 14px;
        }
        input {
          width: 100%;
          border: 0;
          padding: 16px;
          border-radius: 8px;
          background: #fefefe;
          box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
          resize: vertical;
          min-height: 130px;
        }
      }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
      }
    }
    }
  }

  fieldset{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow-y: auto;
    height: auto;
    border: none;

    .main{
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      width: auto;
      height: auto;
      box-shadow: 3px 3px 3px;
      background: #FFF;
      padding: 30px;
      display: flex;
      flex-direction: column;
      margin: 20px;

    }
  }
  fieldset::-webkit-scrollbar {
    display: none
  }

  @media only screen and (max-width: 820px) {
    fieldset{
      width: auto;
     }
    }

.matter{
  display: flex;
  flex-direction: column;
  float: right;
  width: 25%;
  margin: 20px;

  nav, aside{
    background: #FFF;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;

    a{
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: #000;

        &+a{
          margin-top: 30px
        }
      }

  }

}
@media only screen and (max-width: 820px) {
  .matter{
    display: none !important
   }
  }
  
}